*{
    margin: 0;
    padding :0; 
    box-sizing: border-box;
}

body{
    background: #e1e1e1;
    font-family: Roboto, sans-serif;
}

/* body::-webkit-scrollbar{
    background: none;
    position: absolute;
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: #FFA944;
} */

.error{
    border: 1px red solid !important; 
    /* padding: .8rem 1rem;
    border-radius: 4px; */
}

.not-error{
    border: 1px rgba(51, 51, 51, 0.3) solid !important;
    padding: .8rem 1rem;
}

.not-error:focus{
    border: 1px rgba(51, 51, 51, 0.3) solid;
    outline: none;
}

.not-error input:focus{
    border: 1px rgba(51, 51, 51, 0.3) solid;
    outline: none;
}

.p-error{
    color: red;
    font-size: 10px;
    font-weight: 300;
}

.loader-div{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

button:disabled{
    opacity: 0.35;
}

input{
    width: 100%;
    color: #333;
    font-size: 14px;
}

input:focus{
    outline: none;
    border: 1px rgba(51, 51, 51, 0.3) solid;
}

button{
    border: none;
}

button.focus{
    outline: none;
    border: none;
}

.home {
    padding: 0 0 0rem 0 
}

.logo{
    color:#1E1E1E;
    flex: 1.2;
    font-family: Poppins, sans-serif;  
}

.logo h1{
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    font-family: Poppins, sans-serif,
}
.logo span{
    color: #FFA944;
    font-family: Poppins, sans-serif,
}

/* =------------------------------------------------------------------------------SIGN UP styles */

.sign-up {
    background: #fff;
    border-radius: 6px;
    width: 40%;
    padding: 1rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 1px 1px 5px #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 14px;
}

.sign-up h1{
    font-size: 22px;
    color: #FFA944;

}

.sign-up p{
    font-size: 12px;
    font-weight: 500;
}

.su-form{
    width:100%;
    
}

.su-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.su-form form input{
    padding: .8rem 1rem;
    border-radius: 4px;
    border: 1px rgba(51, 51, 51, 0.3) solid;
}

.su-form form button{
    background: #FFA944;
    padding: .8rem;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
    border-radius: 4px;
    transition: .2s ease-in-out;
}
.su-form form button:hover{
    background: #ec9a3d;
}
.su-form form button:active{
    background: #d88d37;
}

.su-password{
    /* background: yellow;   */
    border-radius: 4px;  
    border: 1px rgba(51, 51, 51, 0.3) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 0;
}

.password-error {
    border: 1px red solid ;
    display: flex !important;
    border-radius: 4px; 
    align-items: center;
    justify-content: space-between;
    padding:0 1rem 0 0;
}

/* .password-error input{
    border: none !important; 
    background: none !important; 
}

.su-password input{
    border: none !important; 
    background: none !important; 
} */
/* =------------------------------------------------------------------------------LOGIN styles */

.login{
    width:40%;
    background: #fff;
    padding: 1rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    box-shadow: 1px 1px 5px #bbbbbb;
}

.login h1{
    color: #FFA944;
    font-size: 24px;
}

.login p{
    font-size: 12px;
    font-weight: 500;
}

.li-form{
    width:100%;
}

.li-form form{
    display: flex;
    flex-direction: column;
    gap : 14px;
}

.li-form form button{
    background: #FFA944;
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    transition: .2s ease-in-out;
}

.li-form form button:hover{
    background: #ec9a3d;
}

.li-form form button:active{
    background: #d88d37;
}

.li-check{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.li-check input{
    width: 18px;
    height: 18px;
}

.li-check input{
    width: 16px;
    height: 16px;
}

.li-check .input{
    width: 16px;
    height: 16px;
    background: brown;
    border-radius: 2px;
}

.li-check p{
    font-size: 12px;
    font-weight: 500;
    color: #FFA944;
}

.li-check span{
    font-size: 12px;
    font-weight: 500;
    color: #333;
}

.li-check-remember{
    display: flex;
    align-items: center;
    gap: 14px
}

.li-input{
    width: 100%;
}

.li-form form input{
    padding: .8rem 1rem;
    background: none;
}

.li-input input{
    padding: .8rem 1rem;
    border-radius: 4px ;
    border: 1px rgba(51, 51, 51, 0.3) solid;
}

.li-password{
    display: flex;
    align-items: center;
    border: 1px rgba(51, 51, 51, 0.3) solid;
    border-radius: 4px;
    padding: 0 1rem 0 0;
}

.li-password-error {
    border: 1px red solid;
    display: flex !important;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 0;
}

.li-password input{
    padding: .8rem 1rem;
    background: none;
    border:none;
}


/* =------------------------------------------------------------------------------Navbar styles */

.navbar {
    background: #fff;
    display: flex;
    align-items: center;
    padding: .6rem;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.3);
}

.burger{
    display: none
}

.burg-menu{
    display: none;
}


.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: blue; */
}

.nav-tray{
    display: none;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
    gap: 1rem;
}

.search-btn{
    background: #FFA944;
    color:#fff;
    font-weight: 600;
    width: 90px;
    height: 42px;
    border-radius: 100px
}

.search-bar{
    height: 42px;
    border: 1px #A0A0A0 solid;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 50%;
}

.search-bar input{
    border: none;
}

.user{
    flex: 1.6;
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: flex-end;
}

.user-menu{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.user-menu p{
    font-weight: 600;
    font-size: 14px;
    color: #333;
}
.user-menu h2{
    font-size: 14px;
    color: #333;
}

.user-avatar{
    width:44px;
    min-width:44px;
    height: 44px; 
    min-height: 44px; 
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar img{
    width: 100%;
}

.shopping-cart{
    color :#333;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.cart-icon{
    font-size: 28px;
}

.shopping-cart p{
    position: absolute;
    top: -2px;
    right: -5px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    border: 3px rgb(255, 255, 255) solid;
    font-size: 12px;
    font-weight: 600;
}






.card{
    width: 30%;
    height: 300px;
    background: #A0A0A0;
}

.container{
    width: 86%;
    max-width: 1248px;
    margin: auto;
}



.colors{
    color: #FFA944;
    color: #1E1E1E;

}

/* =================================HERO STYLES */

.hero{
    width: 100%;

}

.hero-sect{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-top{
    width: 100%;
    height: 400px;
    /* background: #f5f5f5; */
    border-radius: 6px;
    margin: 10px 0 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;

    gap: 10px;
}

.h-cat{
    /* background: yellow; */
    border-bottom: 1px #e1e1e1 solid;
    padding: 1rem 0;
}

.hero-links{
    flex: 1;
    /* min-width: 180px; */
    height: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column ;
    gap: .6rem
}

.each-hero-link{
    display: flex;
    align-items: center;
    gap: .4rem;
    transition: .1s ease all;
    cursor: pointer;
    
}

.each-hero-link:hover p{
    color: #FFA944;
    text-decoration: underline;
}

.each-hero-link p{
    font-size: 14px;
}

.hero-banner{
    flex: 3;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* padding: 1rem; */
    border-radius: 6px;
    /* background: #ff6d6d; */
    overflow: hidden;
}

.hero-banner img{
    height:100%;
}

.hero-ads{
    flex :1.4;
    height: 100%;
    /* background: #A0A0A0; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-ads-top{
    background: url('../src/assets/rightBanner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    height: 50%;
    overflow: hidden;
}

.hero-ads-bottom{
    background: url('../src/assets/rightBanner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    height: 50%;
    overflow: hidden;
}

.hero-bottom{
    height: 150px;
    width: 100%;
    margin: 10px 0 0 0;
    background: #fff;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem;
    border-radius: 6px;
}

.carousel-icon{
    color: #333;
    font-size: 30px;
    display: none
}

.carousel-icon:hover{
    background: #FFA944;
    border-radius: 50%;
}

.carousel{
    /* background: #777; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6rem;
    padding: 0 1rem;
    overflow: scroll;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel-div{
    height: 80%; 
    min-width: 126px;
    aspect-ratio: 1;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* padding: .4rem .4rem; */
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.4);
    /* background: yellow */
}

.carousel-div img{
    height: 100%;
    margin: .4rem;
    pointer-events: none;
}

/* ------------------------------------------------------top selling  */

.top-selling{
    width: 100%;
    height: 340px;
    margin: 10px 0 0 0;
}

.tsi{
    width: 100%;
    height: 340px;
    border-radius: 6px;
    /* padding: 0 10px; */
    background : #fff;
}

.tsi-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.tsi-title p{
    font-size: 22px;

}

.tsi-title a{
    text-decoration: none;
    color: #111;
}

.see-more{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.tsi-products{
    /* background: brown; */
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: flex-start;
    overflow: scroll;
    gap: 10px;
    padding : 6px 4px  10px 4px;
    margin: 0 10px 0 10px;
}

.tsi-products::-webkit-scrollbar{
    display: none;
}

.tsi-card{
    height: 278px;
    width: 196px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.tsi-card:hover{
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.4);
}

.tsi-img{
    width: 182px;
    height: 202px;
    min-height: 202px;
    margin: 8px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: .4rem
}
.tsi-img img {
    height: 100%;
    width: auto;
}

.tsi-content{
    margin: auto;
    padding: 0 8px;
}

.tsi-prod-name{
    font-size: 14px;
    /* height: 14px; */
    line-height: 14px;
    margin: 0 0 8px 0;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tsi-prod-price{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.tsi-prod-slashed-price{
    font-size: 12px;
    line-height: 12px;
    margin: 2px 0 0 0;
    text-decoration: line-through;
}

/* ---------------------------------------------------Quick Sales */

.quick-sales {
    width: 100%;
    height: 376px;
    margin: 10px 0 0 0;
}

.qs{
    width: 100%;
    height: 376px;
    border-radius: 6px;
    /* padding: 0 10px; */
    background: #fff;
}
.qs-title{
    background: #FFA944;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10px 0 10px;
    border-radius: 6px 6px 0 0;
}

.qs-title p{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.qs-title p span{
    font-size: 20px;
    font-weight: 600;
}

.qs-timer p{
    font-size: 16px;
    font-weight: 400;
}

.qs-title a{
    color: #333;
    text-decoration: none;

}

.qs-products {
    /* background: brown; */
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: flex-start;
    overflow: scroll;
    gap: 10px;
    padding: 6px 4px 6px 4px;
    margin: 0 10px 0 10px;
}

.qs-products::-webkit-scrollbar{
    display: none;
}

.qs-card {
    height: 305px;
    width: 196px;
    background: #fff;
    border-radius: 4px;
}

.qs-card:hover {
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.4);
}

.qs-img {
    width: 182px;
    height: 202px;
    min-height: 202px;
    margin: 8px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.qs-img img {
    width: 70%;
}

.qs-content {
    margin: auto;
    padding: 0 8px;
}

.qs-prod-name {
    font-size: 14px;
    /* height: 14px; */
    line-height: 14px;
    margin: 0 0 4px 0;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.qs-prod-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.qs-prod-items-left {
    font-size: 12px;
    line-height: 12px;
    margin: 16px 0 6px 0;
}

.qs-prod-bar-case{
    width: 92%;
    border-radius: 20px;
    margin: auto;
    background: #e1e1e1;
    height: 10px;
}

.qs-prod-bar{
    width: 90%;
    background: #FFA944;
    height: 100%;
    border-radius: 20px;
}

/* ----------------------------------------Upcoming Events */

.upcoming-events{
    width: 100%;
    height: 340px;
    margin: 10px 0 0 0; 
}

.ue{
    height: 340px;
    width: 100%;
    background: #fff;
    border-radius: 6px;

}

.ue-title{
    height: 50px;
    width: 100%;
    color: #fff;
    border-radius: 6px 6px 0 0;
    background: #FFA944;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.ue-title span{
    width: 100px;
}

.see-more a{
    color: #333;
    text-decoration: none;
}

.seemore{
    color: #111
}

.ue-title p{
    flex: 1;
}
.ue-events{
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* background: yellow; */
    margin: 0 10px;
}


.ue-card{
    height: 268px;
    width: 402px;
    background: #FFA944;
    border-radius: 4px;
}

/* ---------------------------------------------Most Recent Items */

.most-recent{
    width: 100%;
    margin: 10px 0 0 0;
}

.mri{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
}

.mri-title{
    height: 52px;
    width: 100%;
    padding :0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mri-products{
    width: 100%;
    padding: 0 0 10px 0;
    justify-content: space-evenly;
    /* background: tomato; */
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.mri-card{
    height: 280px;
    width: 196px;
    background: #fff;
    border-radius: 4px;
    padding: 8px 0 0 0;
    transition: .2s ease all;
    margin-top: 10px;
}

.mri-card:hover{
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.3);
}

.mri-image{
    width: 180px;
    height: 183px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.mri-image img{
    width: 70%;
}

.mri-name{
    font-size: 14px;
    font-weight: 400;
    color: #111;
    width: 90%;
    margin: auto;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mri-card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto 0 auto;
}

.mri-price{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 0 6px 0;
}

.mri-price-slashed{
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-decoration: line-through;
    width: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mri-card-bottom button{
    width:100px;
    height:32px ;
    font-size: 16px;
    font-weight: 600;
    background: #FFA944;
    border-radius: 4px; 
    color:#fff;
    cursor: pointer;
    transition: .2s ease all;
}
.mri-card-bottom button:hover{
    background: #e5963b;
}
.mri-card-bottom button:active{
    background: #cd8636;
}

.mri-pagination{
    font-size: 14px;
    text-align: center;
}
/* ₦ */

/* ----------------------------------------------Footer   */

.footer{
    /* height: 162px; */
    width: 100%;
    background: #282828;
    margin: 80px 0 0 0;
    padding: 24px 0;
}

.ft{
    width: 100%;
    /* height: 162px; */
    /* padding: 20px 0; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.ft-logo{
    flex: 1;
    cursor : pointer;
}
.ft-logo h1{
    font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 34px;
}

.ft-logo span{
    font-family: Poppins, sans-serif;
    color: #FFA944;
}

.ft-form{
    flex: 2;
    height: 90%;
    color:rgb(255, 255, 255);
    /* background: tomato; */
}

.ft-form h4{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .4px;
    line-height: 14px;
    margin: 0 0 12px 0;
}

.ft-form p{
    font-size: 12px;
    font-weight: 300;
}

.ft-ct-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background: green; */
    margin: 10px 0 0 0;
    gap: 10px;
}

.ft-ct-form button{
    border: 1px #fff solid;
    background: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    height: 50px;
    cursor: pointer;
    transition: .2s ease all;
}

.ft-ct-form button:hover{
    background: #ffffff11;
}

.ft-ct-form button:active{
    background: #ffffff22;
}

.ft-form-buttons{
    display: flex;
    gap: 1rem;
}

.ft-ct-input{
    height: 50px;
    width: 262px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    border: 1px rgba(255, 255, 255, 0.1) solid;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0px 0 0 0;
}

.ft-ct-input input{
    border:none;
    background: none;
    font-size: 16px;
    padding: 0 12px 0 12px;
    color:rgb(255, 255, 255)
}

.ft-ct-icon{
    font-size: 34px;
}

.ft-download{
    flex: 1;
}

.after-footer{
    height: 316px;
    width :100%;
    background: #323232;
}

.ft-download{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 106px;
}

.ft-download-icon{
    display: flex;
    align-items: center;
    gap: 14px;
}

.ft-download-text{
    color:#fff;
}

.ft-download-text h4{
    font-size: 12px;
    margin: 0 0 8px 0;
}

.ft-download-text p{
    font-size: 12px;
}

.ft-badges{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ft-dl-icon {
    font-size: 42px;
    color: #FFA944;
}

/* ----------------------------------------------------------------------------------cart */


.cart-flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.scroll-cart{
    flex: 4;
    height: 80vh;
    margin: 16px 0 0 0;
    background: #fff;
    border-radius: 6px;
    overflow-y: scroll;
}

.scroll-cart::-webkit-scrollbar{
    width: 10px;
    background: rgba(255, 255, 255, 0.2);
}

.scroll-cart::-webkit-scrollbar-thumb{
    background: #ffa8446e;
    border-radius: 6px;
}

.cart-title{
    border-bottom: 1px rgba(51, 51, 51, 0.1 ) solid;
    background: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 8px 1rem;
    position: sticky;
    top: 0;
}

.cart-title p {
    font-size: 24px;
    font-weight: 400;
}

.cart-title span {
    font-size: 24px;
    font-weight: 500
}

.cart-price{
    flex: 1.4;
    margin: 16px 0 0 0;
    padding: 1rem;
    background: #fff;
    border-radius: 6px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-noItems{
    width: 100%;
    height :400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #fFA944 */
}

.cart-noItems p{

}

.cart-noItems img{
    width: 200px;
    opacity: .3;
}


/* ----------------------------------------------------------------------------------Cart Item section  */


.cart-item{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background: rgb(255, 255, 255);
    /* box-shadow: 1px 3px 5px #f5f5f5; */
    padding: 10px 10px 20px 10px;
    margin: 10px;
    border-bottom: 1px rgba(51, 51, 51, 0.1) solid;
}

.ci-img{
    height: 120px;
    aspect-ratio: 1.4;
    border-radius: 4px ;
    overflow: hidden;
}

.ci-mid-line{
    height: 120px;
    width: 0px;
    border: none;
    border-right: 1px rgba(51, 51, 51, 0.1) solid;

}

.ci-img img{
    width: 100%;
}

.ci-info{
    flex: 1;
    /* background: #ffa944; */
}

.ci-title-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ci-title{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.ci-price{
    font-size: 24px;
}

.ci-qty{
    font-size: 14px;
}

.ci-incr-dec{
    display: flex;
    align-items: center;
    margin: 20px 0 10px 0;
    gap :1rem;
}

.ci-incr-dec button {
    cursor: pointer;
    background-color: #FFA944;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}


/* .ci-info button */

.ci-removeButton{
   background: none; 
   color: #9e0000;
   font-size: 14px;
   margin: 2.4rem 0 0 0;
   width:100%;
   text-align: right;
   cursor: pointer;
}

.ci-removeButton:hover{
    text-decoration: underline;
}

.ci-removeButton:active{
    text-decoration: none;

}

/* ----------------------------------------------------------------------------------Total Price section  */

.tp-header{
    border-bottom: 1px rgba(51, 51, 51, 0.1) solid;
    margin: 0 0 1rem 0;
    padding: 0 0 10px 0;
    color:#FFA944;
}

.tp-header h1{
    font-size: 20px;
}

.tp-price-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.tp-price{
    width: 100%;
}

.tp-price-btn p{
    font-size: 16px;
    font-weight: 600;
    padding : 0 0;
    line-height: 20px;
}

.tp-price-btn span{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.tp-total-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px rgba(51, 51, 51, 0.1) solid;
    padding : 0 0 10px 0;
    width: 100%;
    /* background: #FFA; */
}

.tp-btn{
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin : 16px 0 0 0;
    background: #ffa944;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    transition: .2s ease-in-out;
}

.tp-btn:hover{
    background: #e9983d;
}
.tp-btn:active{
    background: #d88d38;
}


/* ----------------------------------------------------------------------------------Product Details Section  */

.prod-dets{
    width: 100%;

}

.pds{
    width:100%;
    height:80vh ;
    background: #fff;
    border-radius: 6px;
    margin: 14px 0 0 0 ;
    display:flex;
    align-items: flex-start;
}

.pd-left{
    height: 390px;
    flex: 3.1;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px #c7c7cd solid;
}

.pd-images{
    flex: 1;
}

.pd-main-img{
    height: 316px;
    width: 322px;
    border-radius: 4px;
    padding: 24px;
    border: 1px #c7c7cd solid;
}

.pd-main-img-wrapper {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.pd-main-img-wrapper img {
    height: 100%;
    transition: 1s;
}

.pd-main-img-wrapper img:hover {
    scale: 1.1;
}


.pd-thumbs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px;
    gap: 10px
}
.pd-thumbs-scroll{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.pd-thumbs-scroll div{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: 1px #FFA944 solid;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-thumbs-scroll-img{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 2px;
    
}

.pd-thumbs-scroll-img-sel img{
    height: 100%;
}
.pd-thumbs-scroll-img-sel img:hover{

}

.pd-thumbs-scroll-img img{
    height: 100%;
}
.pd-thumbs-scroll-img img:hover{

}

.pd-info {
    flex: 2.7;
    /* background: greenyellow; */
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pd-title-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pd-title{
    font-size: 20px;
    font-weight: 400;
}

.heartIcon{
    font-size: 22px;
    color: #FFA944;
    cursor: pointer;
}

.pd-stars{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0 ;
}
.pd-stars p{
    font-size: 14px;
    font-weight: 400;
}

.pd-star{
    display: flex;
    align-items: center;
}

.starIcon{
    font-size: 14px;
    color: #FFA944;
    cursor: pointer;
}

.starIcon-off{
    font-size: 14px;
    color: #e1e1e1;
    cursor: pointer;
}

.pd-free-deli{
    font-size: 12px;
    color:#fff;
    background: #FFA944;
    padding: 2px 8px;
    border-radius: 4px;
    width: fit-content;
}

.pd-price{
    font-size: 24px;
    font-weight: 700;
    margin: 26px 0 4px 0;
}

.pd-discount-price{
    display: flex;
    align-items: center;
    gap: 6px;
}

.pdd-price{
    font-size: 16px;
    font-weight: 400;
}

.pdd-percent{
    background:rgba(255, 169, 68, 0.3);
    color: #FFA944;
    padding:2px 4px;
    border-radius: 2px;
    font-size: 14px;
}

.pd-few-units{
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0;
}

.pd-shipping{
    font-size: 14px;
    font-weight: 400;
}

.pd-hr{
    border-top: 1px #c7c7cd solid;
    margin : 0 0 18px 0;
}

.pd-atk{
    width: 100%;
    border-radius: 4px;
    background: #FFA944;
    color :rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding: 16px 0 16px 10px;
    cursor: pointer;
}

.addtoC{
    flex: 1;
    font-weight: 500;
    font-size: 14px;
}

.cartIcon {
    font-size: 22px;
    /* color: #FFA944; */
    cursor: pointer;
}

.pd-right{
    flex: 1;
    /* background: rgb(197, 255, 197); */
}

.pd-DNR{
    width: 100%;
    padding: 12px 8px;
    border-bottom: 1px #c7c7cd solid;
    margin: 0 0 10px 0
}

.pd-DNR-p{
    font-size: 14px;
    font-weight: 500;
}

.pd-choose{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 16px 8px;
}

.pd-bottom{
    
}

.pd-bottom form{
    width: 100%
}

.pd-drop-down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px 16px 8px;
    padding: 15px 10px;
    border: 1px #c7c7cd solid;
    border-radius: 4px;
    cursor:pointer;
    position: relative;
}

.pd-drop-down-menu{
    position: absolute;
    top: 102%;
    right: 0;
    width: 60%;
    height: 40vh;
    box-shadow: 0px 0px 5px #c7c7cd;
    background: #fff;
    /* border: 1px #c7c7cd solid; */
    overflow-y: scroll;
    transition: .3s ease all;
    z-index: 12345;
    padding: .4rem;
    border-radius: 4px;
}

.pd-drop-down-menu::-webkit-scrollbar{
    width:6px;

}

.pd-drop-down-menu::-webkit-scrollbar-thumb{
    background: #FFA944;
}

.pd-door-deli{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 0 8px;
    width:100%;
    margin: 0 0 16px 0;
}



.pd-drop-down input{
    border: none;
    background: none;
    pointer-events: none;
}

.dropDownIcon{
    font-size: 25px;
    transition: .2s ease all;
}

.dropDownIcon:hover{
    color: #FFA944;
}

.dropDownIcon:active{
    color: #ffa84490;
}

.pd-drop-down input::placeholder{
    color: #000;
}

.pd-dd-icon{
    border: 1px rgba(0,0,0,0.4) solid;
    border-radius: 4px;
    min-width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pd-dd-cont{
    width:100%;
}

.pd-dd-cont p{
    font-size: 12px;
    font-weight: 400;
}

.pd-dd-cont span{
    font-size: 12px;
    font-weight: 500;
}
.pd-dd-cont-top{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 6px 0;
}
.pd-dd-cont-top p{
    font-size: 14px;
    font-weight: 500;

}
.pd-dd-cont-top span{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.pd-dd-cont-top span:hover{
    text-decoration: underline;
    color: #FFA944;
}
.pd-dd-cont-top{}